
.wp-admin {
  .dashicons-before {
    &.dashicons-fa {
      &.fas, &.far {
        &:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
      }

      &.fab {
        &:before {
          font-family: "Font Awesome 5 Brands";
          font-weight: 900;
        }
      }
    }
  }

  .acf-image-uploader {
    .image-wrap {
      img[src$=".svg"] {
        min-height: auto;
        min-width: auto;
        max-width: 100%;
      }
    }
  }
}
