// fonts
  $f-stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  $f-headers: "Times New Roman", Times, serif;
// eof fonts


// margins
  $m-x8: 8px;
  $m-x16: 16px;
  $m-x24: 24px;
  $m-x32: 32px;
  $m-x40: 40px;
  $m-x48: 48px;
  $m-x56: 56px;
  $m-x64: 64px;
  $m-x72: 72px;
  $m-x80: 80px;

// eof margins

// paddings
  $p-x8: 8px;
  $p-x16: 16px;
  $p-x24: 24px;
  $p-x32: 32px;
  $p-x40: 40px;
  $p-x48: 48px;
  $p-x56: 56px;
  $p-x64: 64px;
  $p-x72: 72px;
  $p-x80: 80px;

//eof paddings


// colors
$c-dark-grey: #494949;
$c-header-borders: #858585;
$c-light-grey: #858585;
$c-pink: #E1D5F8;
$c-hover-color: #6D42C7;

$c-icon: #686868;

$c-label: black;
$c-label-active: #BDBDBD;
$c-error: #EB5757;

//eof colors

// Transition
$transition: all .3s;
